.md-br--4 {
    height: 8px;
    width: 100%;
}

.md-br--8 {
    height: 8px;
    width: 100%;
}

.md-br--16 {
    height: 16px;
    width: 100%;
}

.md-br--24 {
    height: 24px;
    width: 100%;
}

.md-br--32 {
    height: 32px;
    width: 100%;
}

.md-br--40 {
    height: 40px;
    width: 100%;
}

.md-hz--8 {
    height: 100%;
    width: 8px;
}

.md-hz--16 {
    height: 100%;
    width: 8px;
}