{% extends 'catalog/catalog_base.html' %}

{% block title %}
    {% if is_edit_mode %}
        Редактирование книги
    {% else %}
        Добавление книги
    {% endif %}
{% endblock %}


{% block content %}
    <style>
        .button-container {
            display: flex;
            flex-direction: row;
        }

        .authors-container {
            display: flex;
            flex-direction: column;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .authors-container label {
            margin-bottom: 8px;
        }

        .authors-container .error {
            margin-top: 4px;
        }

        .right-button {
            margin-left: auto;
        }

        .left-button {
            margin-right: auto;
        }
    </style>

    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--border">
            <h2 class="mdl-card__title-text">Сведения о книге</h2>
        </div>

        {{ form.non_field_errors }}

        <form action="{% if is_edit_mode %} {{ book.get_edit_url }} {% else %} {% url 'book_add' %} {% endif %}"
              method="post">
            <div class="mdl-card__supporting-text">
                {% csrf_token %}

                <div class="{% if form.title.errors %} is-invalid {% endif %} mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.title }}
                    <label class="mdl-textfield__label"
                           for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    <span class="mdl-textfield__error">
                        {% for error in form.title.errors.as_data %}
                            {{ error.message }}
                        {% endfor %}
                    </span>
                </div>

                <div class="authors-container">
                    <label class="mdl-typography--caption mdl-color-text--indigo-500"
                           for="{{ form.authors.id_for_label }}">{{ form.authors.label }}</label>
                    {{ form.authors }}

                    <div class="error">
                        {% for error in form.authors.errors.as_data %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                </div>

                <div class="{% if form.release_date.errors %} is-invalid {% endif %}mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.release_date }}
                    <label class="mdl-textfield__label"
                           for="{{ form.release_date.id_for_label }}">{{ form.release_date.label }}</label>
                    <span class="mdl-textfield__error">
                        {% for error in form.release_date.errors.as_data %}
                            {{ error.message }}
                        {% endfor %}
                    </span>
                </div>

                <div class="{% if form.price.errors %} is-invalid {% endif %}mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.price }}
                    <label class="mdl-textfield__label"
                           for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                    <span class="mdl-textfield__error">
                        {% for error in form.authors.errors.as_data %}
                            {{ error.message }}
                        {% endfor %}
                    </span>
                </div>
            </div>

            <div class="button-container mdl-card__actions mdl-card--border">
                <a class="left-button mdl-button mdl-color-text--grey-600 mdl-js-button mdl-js-ripple-effect"
                   href="{% url 'books' %}">
                    Отмена
                </a>
                <button type="submit"
                        class="right-button mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect">
                    {% if is_edit_mode %}
                        Сохранить
                    {% else %}
                        Добавить
                    {% endif %}
                </button>
            </div>
        </form>

    </div>
{% endblock %}

