{% extends 'catalog/base.html' %}

{% block title %}Список авторов{% endblock %}

{% block content %}
    <style>
        .paging-container {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            margin-top: 16px;
        }
    </style>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Имя</th>
            <th class="mdl-data-table__cell--non-numeric">Фамилия</th>
            <th class="mdl-data-table__cell--non-numeric">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric">{{ author.first_name }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ author.last_name }}</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <form action="{{ author.get_delete_url }}" method="post">
                        <a class="mdl-button mdl-js-button mdl-button--icon"
                           href="{{ author.get_edit_url }}">
                            <i class="mdl-color-text--grey-600 material-icons">edit</i>
                        </a>
                        {% csrf_token %}
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="mdl-color-text--red-400 material-icons">delete</i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="paging-container">
        {% for p in page_obj.paginator.page_range %}
            <a class="mdl-typography--caption mdl-button mdl-js-button" href="?page={{ p }}">{{ p }}</a>
        {% endfor %}
    </div>

    <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
       id="btn-add" href="{% url 'author_add' %}">
        <i class="material-icons">add</i>
    </a>
{% endblock %}